nav {
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 2%;
  z-index: 20;
  .nav-logo {
    width: max(80px, 12vw);
    content: url("../../../assets/image/Group\ 2341.png");
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-link {
    display: flex;
    align-items: center;
    position: relative;
    &:hover .nav-megamenu{
      display: flex;
    }
  }
  .inner-nav-link {
    color: black;
    font-size: max(10px, 1vw);
    padding: max(25px, 3vw) 20px;
    display: flex;
    align-items: center;
    svg{
      font-size: 15px;
    }
  }
  .nav-auth {
    display: flex;
    align-items: center;
    gap: max(1vw, 15px);
    cursor: pointer;
  }
  .first-button {
    color: #333;
  }
  .second-button {
    background-color: #35313c;
    color: #fff;
    border-radius: 20px;
    font-size: max(8px,0.70vw);
    padding: 10px 20px;
  }
  .nav-icon {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  .menu-button {
    color: #000000;
    background: none;
    font-size: max(20px,2.5vw);
    display: none;
    cursor: pointer;
    border: 0;
  }
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 1070px) {
  nav {
    padding: 15px 30px;
    .menu-button {
      display: flex;
    }
    .mobile-nav {
      display: block;
    }
    .nav-links,
    .nav-auth {
      display: none;
    }
  }
}
