.home-page .our-team {
  align-items: center;
  padding: 0 3%;
}
h3 {
  margin: 5% 0;
  text-align: center;
}
.slider-item {
  width: 70%;
}
.icon-banner {
  width: 20%;
}
h4 {
  padding-top: 15px;
}
p {
  padding: 20px 0;
}
.home-page .our-team {
  .rec-arrow,
  .rec-arrow-right,
  .rec-arrow-left {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
    max-width: 40px !important;
    min-height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #FF844E !important;
    border: 1px solid #FF844E !important;
    color: #fff !important;
    box-shadow: none !important;
  }
  .rec-dot{
    width: 15px !important;
    height: 15px !important;
    border: 2px solid #FF844E !important;
    box-shadow: none !important;
  }
  .rec-dot_active{
    background-color: #FF844E !important;
  }
}
